@keyframes appear-animation {
  from {
      transform: translateY(-100px);
      opacity: 0;
  }
  to {
      transform: translateY(0px);
      opacity: 1;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 18px;
}
body {
  height: 100%;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -.022em;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  background: linear-gradient(
  -30deg, #d754ad 0%, #d754ad 10%, #f96785 62%, #fe7333 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-style: normal;
  color: #f5f5f7;
}
.container {
  animation: appear-animation 1s ease-in-out 0s 1 normal forwards;
  opacity: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
}
.container li {
  list-style-type: none;
}
li {
  font-size: 1em;
}

h1, input {
  margin-top: 20px;
  margin-bottom: 20px;
}
h1 {
  font-size: 3em;
}
img {
  width: 120px;
  height: 120px;
  margin-top: 60px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 7px 7px 10px #f0f4f8, -7px -7px 15px #f0f4f8;
  transform: translate();
}
img:hover {
  transition: 3s;
  transform: rotate(1turn) scale(1.1);
}
input[type=text] {
  width: 300px;
  height: 40px;
  border-color: transparent;
  border-radius: 25px;
  outline: transparent;
  padding: 20px;
  background-color: #e8e8ed;
  color: black;
}
input[type=text]:focus {
  box-shadow: 2px 2px 10px #f0f4f8, -2px -2px 10px #f0f4f8;
}
ul {
  margin-top: 20px;
}
